<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Timer</title>
</head>
<body>
  <h1>Hello world</h1>
  <p id="ntpDateDisplay"></p>
</body>
<script>
  const plainUrl = "<%= plainUrl %>";

  setInterval(function() {
    request = new XMLHttpRequest();
    request.overrideMimeType("application/json");
    request.open("GET", `${plainUrl}plain/ntp`);
    request.onload  = function() {
      document.getElementById("ntpDateDisplay").innerHTML = request.responseText;
    };
    request.send();
  }, 1000);
</script>
</html>